<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!-- load wines -->
		<script type="text/javascript">
		var wines = <%- JSON.stringify(wines) %>;
		var wineTypes = <%- JSON.stringify(wineTypes) %>;
		var wineMakers = <%- JSON.stringify(wineMakers) %>;
		</script>
		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css' />
		<!-- font awesome -->
		<link rel="stylesheet" type="text/css" href="stylesheets/libs/font-awesome.min.css">
		<!-- jquery -->
		<script type="text/javascript" src="assets/jquery.js"></script>
		<!-- bootstrap -->
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<script src="assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>
		<!-- animate.css -->
		<link rel="stylesheet" href="assets/animate/animate.css" />
		<link rel="stylesheet" href="assets/animate/set.css" />
		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="assets/style.css" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<script type="text/javascript" src="javascripts/libs/angular.min.js"></script>
		<!-- sortable -->
		<script type="text/javascript" src="../javascripts/libs/sortable.min.js"></script>
		<link rel="stylesheet" href="../stylesheets/sortable-theme-bootstrap.css" />
		<title>Wine Management</title>
		<script type="text/javascript" src="../javascripts/controller/admin/WineController.js"></script>
	</head>
	<body ng-controller="WineController">
		<div class="topbar animated fadeInLeftBig"></div>
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
					<div class="container">
						<div class="navbar-header">
							<!-- Logo Starts -->
							<a class="navbar-brand" href="/">
								<i class="fa fa-beer fa-3x"></i>
							</a>
							<!-- #Logo Ends -->
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Nav Starts -->
						<div class="navbar-collapse collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="active">
									<a href="/admin">Wine</a>
								</li>
								<li>
									<a href="/admin/wineType">Type</a>
								</li>
								<li>
									<a href="/admin/wineMaker">Wine maker</a>
								</li>
								<li>
									<a href="/admin/country">Country</a>
								</li>
								<li>
									<a href="/admin/volume">Volume</a>
								</li>
								<li>
									<a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
								</li>
							</ul>
						</div>
						<!-- #Nav Ends -->
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin: 150px;">
			<div class="row">
				<div class="col-lg-4">
					<div class="form-group">
						<input class="form-control" id="wineFilter" type="text" placeholder="Filter" width="100%" autofocus ng-model="wineFilter">
					</div>
				</div>
				<div class="col-lg-5"></div>
				<div class="col-lg-3">
					<a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#add-new-wine">+ Add new Wine</a>
				</div>
			</div>
			<div class="row">
				<table class="table table-striped table-hover" data-sortable>
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Type</th>
							<th>Color</th>
							<th>Blend</th>
							<th>Rating/10</th>
							<th>Strength</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="wine in wines | filter:wineFilter">
							<td width="5%">{{$index + 1}}</td>
							<td width="20%"><a href="#" ng-click="displayWineDetail(wine.name, wine.wineMakerID)">{{wine.name}}</a></td>
							<td width="10%" ng-repeat="wineType in getWineTypeById(wine.wineTypeId)">{{wineType.typeName}}</td>
							<td width="10%">{{wine.color}}</td>
							<td width="12.5%">{{wine.characteristic.blend}}</td>
							<td width="7.5%">{{wine.rating}}</td>
							<td width="10%">{{wine.characteristic.strength}}%</td>
							<td width="5%"><a href="#"><i class="fa fa-pencil-square-o" ng-click="editWine(wine.name, wine.wineMakerID)"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal fade" id="add-new-wine" tabindex="-1" role="dialog" aria-labelledby="add-new-wine-title" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="add-new-wine-title">Add new wine information</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<fieldset class="col-md-6">
								<h4>Wine</h4>
								<div class="form-group">
									<label for="wineType" class="col-lg-2 control-label">Type</label>
									<div class="col-lg-10">
										<select class="form-control input-sm" id="wineType" ng-model="newWine.wineTypeId" required>
											<option ng-repeat="wineType in wineTypes" value="{{wineType._id}}">{{wineType.typeName}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="wineName" class="col-lg-2 control-label">Name</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="wineName" ng-model="newWine.name" placeholder="Wine name">
									</div>
								</div>
								<div class="form-group">
									<label for="imgSrc" class="col-lg-2 control-label">Image</label>
									<div class="col-lg-10 input-group">
										<input type="text" class="form-control" id="imgSrc" placeholder="Choose imgage file" disabled>
										<span class="input-group-btn">
											<button class="btn btn-default btn-success" type="button" disabled>Browse</button>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="color" class="col-lg-2 control-label">Color</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="color" ng-model="newWine.color" placeholder="Color">
									</div>
								</div>
								<div class="form-group">
									<label for="rating" class="col-lg-2 control-label">Rating</label>
									<div class="col-lg-10">
										<select class="form-control" id="rating" ng-model="newWine.rating">
											<option ng-repeat="rating in ratings" ng-value="{{rating.value}}">{{rating.label}}</option>
										</select>
									</div>
								</div>
								<br />
								<h4>Description</h4>
								<div class="form-group">
									<label for="brief" class="col-lg-2 control-label">Brief</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="brief" ng-model="newWine.description.brief" placeholder="Give a short description" required>
									</div>
								</div>
								<div class="form-group">
									<label for="overview" class="col-lg-2 control-label">Overview</label>
									<div class="col-lg-10">
										<textarea style="resize:vertical;" class="form-control" rows="3" id="overview" ng-model="newWine.description.overview" required></textarea>
									</div>
								</div>
								<div class="form-group">
									<label for="flavorAndAroma" class="col-lg-2 control-label">Flavor</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="flavorAndAroma" ng-model="newWine.description.flavorAndAroma" placeholder="Flavor and Aroma" required>
									</div>
								</div>
								<div class="form-group">
									<label for="agingPotential" class="col-lg-2 control-label">Aging</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="agingPotential" ng-model="newWine.description.agingPotential" placeholder="Aging Potential" required>
									</div>
								</div>
								<div class="form-group">
									<label for="throughForFood" class="col-lg-2 control-label">Food</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="throughForFood" ng-model="newWine.description.throughForFood" placeholder="Through For Food" required>
									</div>
								</div>
								<div class="form-group">
									<label for="mood" class="col-lg-2 control-label">Mood</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="mood" ng-model="newWine.description.mood" placeholder="Mood">
									</div>
								</div>
							</fieldset>
							<div class="col-md-1"></div>
							<fieldset class="col-md-5">
								<h4>Wine Maker</h4>
								<div class="form-group">
									<label for="wineMaker" class="col-lg-2 control-label">Maker</label>
									<div class="col-lg-10">
										<select class="form-control input-sm" id="wineMaker" ng-model="newWine.wineMakerId" required>
											<option ng-repeat="wineMaker in wineMakers" value="{{wineMaker._id}}">{{wineMaker.wineMakerName}}</option>
										</select>
									</div>
								</div>
								<br />
								<h4>Characteristic</h4>
								<div class="form-group">
									<label for="blend" class="col-lg-2 control-label">Blend</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" id="blend" ng-model="newWine.characteristic.blend" placeholder="Blend">
									</div>
								</div>
								<div class="form-group">
									<label for="strength" class="col-lg-2 control-label">Strengh</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="strength" ng-model="newWine.characteristic.strength" placeholder="Strength">
									</div>
								</div>
								<div class="form-group">
									<label for="totalAcidity" class="col-lg-2 control-label">Acidity</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="totalAcidity" ng-model="newWine.characteristic.totalAcidity" placeholder="Total Acidity">
									</div>
								</div>
								<div class="form-group">
									<label for="volatileAcidity" class="col-lg-2 control-label">Acidity</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="volatileAcidity" ng-model="newWine.characteristic.volatileAcidity" placeholder="Volatile Acidity">
									</div>
								</div>
								<div class="form-group">
									<label for="sulphurDioxide" class="col-lg-2 control-label">SO2</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="sulphurDioxide" ng-model="newWine.characteristic.sulphurDioxide" placeholder="Sulphur Dioxide">
									</div>
								</div>
								<div class="form-group">
									<label for="copper" class="col-lg-2 control-label">Copper</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="copper" ng-model="newWine.characteristic.copper" placeholder="Copper">
									</div>
								</div>
								<div class="form-group">
									<label for="iron" class="col-lg-2 control-label">Iron</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="iron" ng-model="newWine.characteristic.iron" placeholder="Iron">
									</div>
								</div>
								<div class="form-group">
									<label for="sterility" class="col-lg-2 control-label">Sterility</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="sterility" ng-model="newWine.characteristic.sterility" placeholder="Sterility">
									</div>
								</div>
								<div class="form-group">
									<label for="proteinStability" class="col-lg-2 control-label">Protein</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="proteinStability" ng-model="newWine.characteristic.proteinStability" placeholder="Protein Stability">
									</div>
								</div>
								<div class="form-group">
									<label for="pH" class="col-lg-2 control-label">pH</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="pH" ng-model="newWine.characteristic.pH" placeholder="pH">
									</div>
								</div>
								<div class="form-group">
									<label for="residualSugar" class="col-lg-2 control-label">Residual Sugar</label>
									<div class="col-lg-10">
										<input type="number" class="form-control" id="residualSugar" ng-model="newWine.characteristic.residualSugar" placeholder="Residual Sugar">
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="addWine()" ng-disabled="form.$invalid">Add Wine</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>