<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!-- load wineMakers, countries -->
		<script type="text/javascript">
		var wineMakers = <%- JSON.stringify(wineMakers) %>;
		var countries = <%- JSON.stringify(countries) %>;
		</script>
		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css' />
		<!-- font awesome -->
		<link rel="stylesheet" type="text/css" href="../stylesheets/libs/font-awesome.min.css">
		<!-- jquery -->
		<script type="text/javascript" src="../assets/jquery.js"></script>
		<!-- bootstrap -->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
		<script src="../assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>
		<!-- animate.css -->
		<link rel="stylesheet" href="../assets/animate/animate.css" />
		<link rel="stylesheet" href="../assets/animate/set.css" />
		<!-- favicon -->
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../assets/style.css" />
		<script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>
		<!-- sortable -->
		<script type="text/javascript" src="../javascripts/libs/sortable.min.js"></script>
		<link rel="stylesheet" href="../stylesheets/sortable-theme-bootstrap.css" />
		<title>Wine maker management</title>
		<script type="text/javascript" src="../javascripts/controller/admin/WineMakerController.js"></script>
	</head>
	<body ng-controller="WineMakerController">
		<div class="topbar animated fadeInLeftBig"></div>
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
					<div class="container">
						<div class="navbar-header">
							<!-- Logo Starts -->
							<a class="navbar-brand" href="/">
								<i class="fa fa-beer fa-3x"></i>
							</a>
							<!-- #Logo Ends -->
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Nav Starts -->
						<div class="navbar-collapse collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="/admin">Wine</a>
								</li>
								<li>
									<a href="/admin/wineType">Type</a>
								</li>
								<li class="active">
									<a href="/admin/wineMaker">Wine maker</a>
								</li>
								<li>
									<a href="/admin/country">Country</a>
								</li>
								<li>
									<a href="/admin/volume">Volume</a>
								</li>
								<li>
									<a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
								</li>
							</ul>
						</div>
						<!-- #Nav Ends -->
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin: 150px;">
			<div class="row">
				<div class="col-lg-4">
					<div class="form-group">
						<input class="form-control" id="wineMakerFilter" type="text" placeholder="Filter" width="100%" autofocus ng-model="wineMakerFilter">
					</div>
				</div>
				<div class="col-lg-5"></div>
				<div class="col-lg-3">
					<a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#add-new-wineMaker">+ Add new Wine Maker</a>
				</div>
			</div>
			<div class="row">
				<table class="table table-striped table-hover" data-sortable>
					<thead>
						<tr>
							<th>#</th>
							<th>Wine maker name</th>
							<th>Country</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="wineMaker in wineMakers | filter:wineMakerFilter">
							<td width="5%">{{$index + 1}}</td>
							<td width="45%">{{wineMaker.wineMakerName}}</td>
							<td width="45%" ng-repeat="country in getCountryById(wineMaker.countryID)"><img src="{{country.flagImg}}" alt="{{country.name}}"> {{country.name}}</td>
							<td width="5%"><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal fade" id="add-new-wineMaker" tabindex="-1" role="dialog" aria-labelledby="add-new-wineMaker-title" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="add-new-wineMaker-title">Add new Type</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" name="form" id="addTypeForm">
							<fieldset>
								<div class="form-group">
									<label for="add-wineMaker-name" class="col-lg-2 control-label">Name</label>
									<div class="col-lg-10">
										<input required autocomplete="off" ng-model="newWineMaker.wineMakerName" type="text" class="form-control" id="add-wineMaker-name">
									</div>
								</div>
								<div class="form-group">
									<label for="add-wineMaker-note" class="col-lg-2 control-label">Country</label>
									<div class="col-lg-10">
										<select class="form-control input-sm" id="add-wineMaker-country" ng-model="newWineMaker.countryID" style="width: 100%" required>
                      <option ng-repeat="country in countries" value="{{country._id}}">{{country.name}} ({{country.countryCode}})</option>
                    </select>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="addWineMaker()" ng-disabled="form.$invalid">Add</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>