<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css' />
		<!-- font awesome -->
		<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" /> -->
		<link rel="stylesheet" type="text/css" href="stylesheets/libs/font-awesome.min.css">
		<!-- bootstrap -->
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<!-- animate.css -->
		<link rel="stylesheet" href="assets/animate/animate.css" />
		<link rel="stylesheet" href="assets/animate/set.css" />
		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="assets/style.css" />
		<script type="text/javascript" src="javascripts/libs/angular.min.js"></script>
		<title>Wine</title>
		<!-- // <script type="text/javascript" src="javascripts/controller/HomeController.js"></script> -->
	</head>
	<body ng-controller="HomeController">z
		<div class="topbar animated fadeInLeftBig"></div>
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
					<div class="container">
						<div class="navbar-header">
							<!-- Logo Starts -->
							<a class="navbar-brand" href="#home">
								<i class="fa fa-beer fa-3x"></i>
							</a>
							<!-- #Logo Ends -->
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Nav Starts -->
						<div class="navbar-collapse  collapse">
							<ul class="nav navbar-nav navbar-right scroll">
								<li class="active">
									<a href="#home">Home</a>
								</li>
								<li>
									<a href="#menu">Introduce</a>
								</li>
								<li>
									<a href="#foods">Drinks</a>
								</li>
								<li>
									<a href="#contact">Contact</a>
								</li>
							</ul>
						</div>
						<!-- #Nav Ends -->
					</div>
				</div>
			</div>
		</div>
		<div id="home">
			<!-- Slider Starts -->
			<div class="banner">
				<img src="images/back.jpg" alt="banner" class="img-responsive" />
				<div class="caption">
					<div class="caption-wrapper">
						<div class="caption-info">
							<i class="fa fa-beer fa-5x animated bounceInDown"></i>
							<h1 class="animated bounceInUp">Best site for finding wine</h1>
							<p class="animated bounceInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing
								elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
							<a href="#menu" class="explore animated bounceInDown">
								<i class="fa fa-angle-down  fa-3x"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- #Slider Ends -->
		</div>
		<div id="menu" class="container spacer about">
			<h2 class="text-center wowload fadeInUp">Global wine information archive</h2>
			<div class="row">
				<div class="col-sm-6 wowload fadeInLeft">
					<h4>
					<i class="fa fa-beer"></i>
					Introduction
					</h4>
					<p>Wine is an alcoholic beverage made from fermented grapes or other fruits. The natural chemical balance of grapes lets them ferment without the addition of sugars, acids, enzymes, water, or other nutrients. Yeast consumes the sugars in the grapes and converts them into alcohol and carbon dioxide. Different varieties of grapes and strains of yeasts produce different styles of wine.</p>
					<p>Wines made from produce besides grapes include rice wine, pomegranate wine, apple wine and elderberry wine and are generically called fruit wine. Wine has been produced for thousands of years, with the earliest wines being drunk c. 6000 BC in Georgia. It had reached the Balkans by c. 4500 BC and was consumed and celebrated in ancient Greece and Rome.</p>
				</div>
				<div class="col-sm-6">
					
				</div>
			</div>
			<center><a href="#foods" class="explore animated bounceInDown"><i class="fa fa-angle-down  fa-3x"></i></a></center>
		</div>
		<!-- <input ng-model="query"> -->
		<div id="foods" class=" clearfix grid">
			<div class="container">
				<div class=" col-lg-4">
					
					<div class="input-group">
						<span class="input-group-addon" id="filterAll">Filter</span>
						<input type="text" ng-model="query" class="form-control" placeholder="Filter by erveything" aria-describedby="filterAll"  />
					</div>
				</div>
				<div class="col-lg-2">
					<a href="../partials/addWine.html"><div class="btn btn-success">Advanced Search</div></a>
				</div>
			</div>
			<br />
			<figure ng-repeat="wine in wines | filter:query" class="effect-oscar">
				<img src="{{wine.imgSrc}}" alt="{{wine.name}}" />
				<figcaption>
				<h2>{{wine.name}}</h2>
				<p>
					{{wine.description.brief}}
					<br />
					{{wine.rating}}<i class="fa fa-star"></i>
					<br />
					<a href="#" title="View detail">View detail</a>
				</p>
				</figcaption>
			</figure>
		</div>
		<p></p>
		<div id="contact" class="footer text-center spacer">
			<p class="wowload flipInX"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-instagram fa-2x"></i></a> <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i class="fa fa-github fa-2x"></i></a> </p>
			<p>Copyright 2015 Wine Library. All rights reserved.</p>
			<a href="/admin"><span class="label label-success">Admin CP</span></a>
		</div>
		<!-- jquery -->
		<script src="assets/jquery.js"></script>
		<!-- wow script -->
		<script src="assets/wow/wow.min.js"></script>
		<!-- boostrap -->
		<script src="assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>
		<!-- jquery mobile -->
		<script src="assets/mobile/touchSwipe.min.js"></script>
		<script src="assets/respond/respond.js"></script>
		<!-- gallery -->
		<script src="assets/gallery/jquery.blueimp-gallery.min.js"></script>
		<!-- custom script -->
		<script src="assets/script.js"></script>
	</body>
</html>