<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Admin login</title>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css' />
		<!-- font awesome -->
		<link rel="stylesheet" type="text/css" href="stylesheets/libs/font-awesome.min.css">
		<!-- bootstrap -->
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<!-- animate.css -->
		<link rel="stylesheet" href="assets/animate/animate.css" />
		<link rel="stylesheet" href="assets/animate/set.css" />
		<!-- gallery -->
		<link rel="stylesheet" href="assets/gallery/blueimp-gallery.min.css" />
		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="assets/style.css" />
		<!-- jquery -->
		<script type="text/javascript" src="assets/jquery.js"></script>
		<script type="text/javascript" src="javascripts/libs/angular.min.js"></script>
		<!-- // <script type="text/javascript" src="javascripts/controller/LoginController.js"></script> -->
	</head>
	<body ng-controller="LoginController" style="background-color: #eee;">
		<div class="jumbotron">
			<div class="container">
				<div class="col-lg-3"></div>
				<div class="col-lg-8">
					<h1>Admin authentication</h1><br>
					<form class="form-horizontal bs-component" method="post" action="/login" style="width: 500px">
						<div class="form-group">
							<label for="login-username" class="col-lg-2 control-label">Username</label>
							<div class="col-lg-10">
								<input style="width: 300px" ng-model="admin.username" type="text" class="form-control" id="login-username" placeholder="Username" name="username" />
							</div>
							<div></div>
						</div>
						<div class="form-group">
							<label for="password" class="col-lg-2 control-label">Password</label>
							<div class="col-lg-10">
								<input style="width: 300px" ng-model="admin.password" type="password" class="form-control" id="password" placeholder="Password" name="password" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-2"></div>
							<div class="col-lg-10" style="color: red;">
								<% if (locals.error) { %>
								<%= error %>
							<% } %></div>
						</div>
						<div class="form-group">
							<div class="col-lg-2"></div>
							<div class="col-lg-10">
								<button class="btn btn-primary" type="submit" ng-click="login()">Login</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>